
.btn {
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 24px;
    border: 0 none;
    width: 400px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
.texto {
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    letter-spacing: 1px;
    background: White;
    text-transform: uppercase;
    
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 50px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}