
<div class="row">
  <div class="col-lg-4"  >
    
  </div>
  
  <div class="col-lg-5"  >
      <h1 class="texto">Elija la obtención de datos</h1>
      <br>
      <br>
      <br>
      <button type="button" class="btn btn-dark btn-lg sharp btn-block "  routerLink="/input-manual/0" >Teclado</button>
      <br>
      <br>

      <button type="button" class="btn btn-dark btn-lg sharp btn-block "   routerLink="/historial/1">Base de datos</button>
      </div>
  
  <div class="col-lg-3"  >
      
  </div>

</div>