
aaa
<div class="row">
  <div class="col-lg-5"  >
    
  </div>
  
  <div class="col-lg-3"  >
      <h1>Elija la obtención de datos</h1>
      <br>
      <br>
      <br>
      
      <!--<button type="button" class="btn btn-dark btn-lg sharp btn-block "   >Fichero</button>-->
      
      <button type="button" class="btn btn-dark btn-lg sharp btn-block "  routerLink="/input-manual/0" >Teclado</button>
      <br>
      <br>

      <button type="button" class="btn btn-dark btn-lg sharp btn-block "   routerLink="/historial/1">Base de datos</button>
      <!--<button type="button" class="btn btn-dark" btn-lg btn center>Darkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</button>
      <button type="button" class="btn btn-dark" btn-lg btn-block center>Darkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</button>
      <button type="button" class="btn btn-dark" btn-lg btn-block center>Darkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</button>
      <button type="button" class="btn btn-dark" btn-lg btn-block center>Darkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</button>-->
  </div>
  
  <div class="col-lg-3"  >
      
  </div>

</div>