
<div class="col-lg-3"  >
    
</div>
<div class="col-lg-8"  >
    <div>
        <label>Hero name:
          <input #heroName />
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add();" >
          add
        </button>
      </div>

      <tr *ngFor="let pie of datosInput">
            <button (click)="add();" >
                    {{pie.id}}
            </button>
            
     </tr>

      <h1>
         Create Contact
         </h1>
         <button (click)="createEjecucion()" >  <!--routerLink="/tabla-resultados-->
             Create Contact
         </button>
         {{datosInput}}
</div>

<div class="col-lg-1"  >
        
</div>








  


  