<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="row">
  <div class="col-lg-3">

  </div>

  <div class="col-lg-6">
    <h1 class="titulo">REGLAS DE PRIORIDAD</h1>
    <br>
    <br>
    <br>
    <h4 class="textoDescriptivo">Reglas de prioridad es una aplicación web encargada de resolver problemas de Scheduling.
      Para ello, se implementará varias de las heurísticas más populares. Esta aplicación proporcionará
      una interfaz que permita la ejecución de dichas heurísticas, con la posibilidad de ver los resultados de forma gráfica
      y descriptiva, permitiendo una comparación entre los comportamientos de las heurísticas elegidas. También
      almacena los datos de ejecuciones previas, teniendo la posibilidad de reutilizar los datos de entrada correspondientes a otras
      planificaciones o simplemente volver a visualizar los resultados anteriormente generados.</h4>
      <br>
      <br>
    <button type="button" class="btn btn-dark btn-lg sharp btn-block " routerLink="/menu-principal">COMENZAR</button>
  </div>

  <div class="col-lg-3">

  </div>