<h1>
  My Contactsss
</h1>

<div>
    <table style="width:100%">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Address</th>
          
          
        </tr>
        <tr *ngFor="let pie of fase">
          <td> ffff </td>
          <td> fff </td>
          <td> fff </td>
          <td> {{ pie.id}} </td>
          <td> {{ pie.nPieza}} </td>
          <td> {{ pie.ejecucion}} </td>
          
        
      </tr>

        <tr *ngFor="let pie of pieza">
            <td> sadad </td>
            <td> sadad </td>
            <td> sadad </td>
            <td> {{ pie.id}} </td>
            <td> {{ pie.nPieza}} </td>
            <td> {{ pie.ejecucion}} </td>
          
          
        </tr>
       
        <tr *ngFor="let pie of ejecucion">
          <td> sadad </td>
          <td> sadad </td>
          <td> sadad </td>
          <td> {{ pie.id}} </td>
          <td> {{ pie.fecha}} </td>
          
        
        
      </tr>
        
      </table> 
</div>