#miTablaPersonalizada th{
    width: 130px;
    overflow: auto;
    border: 1px solid;
    background: #404040;
    color: white;
  }
  .texto {
    align-content: center;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1px;
    background: White;
    text-transform: uppercase;
    
}