<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="row">
  <div class="col-lg-2">

  </div>
  <div class="col-lg-8">
    <h1>1.	Menú principal</h1>
    <br>
<h4>-  Este es el menú principal superior, será común a todas las vistas de la aplicación, permite redireccionar al Inicio, menú de ejecución, historial y ayuda.
</h4>
 <br>

<img class="images" src="\src\assets\img\2.PNG">
<br>
<br>
<h4>-  Una vez seleccionado el menú principal, se podrá elegir entre tres opciones: ejecución, historial y ayuda.</h4>

<br>
<img class="images" src="\src\assets\img\3.PNG">
<br>
<br>


<h1>2.	Menú de ejecución</h1>
<br>
<h4>- Si se elige la opción “EJECUTAR”, se accederá al menú de ejecución, 
  el cual permite dos opciones para que usuario ejecute los algoritmos,
   introduciendo los datos desde cero mediante teclado o utilizar valores 
   de entrada previos almacenados en base de datos. </h4>


   <br>
   <img class="images" src="\src\assets\img\4.PNG">
<br>
   <br>
<h1>3.	Ejecución datos desde teclado</h1>   
<br>
  <h4>- Entrando en la opción “TECLADO”, se accede a una vista en la que en un principio solo es 
    visible parte de la información básica. Sin embargo, cuando se pulsa sobre el botón “AÑADIR”, 
    se podrá ver el resto de información, además de añadir un nuevo O.F que es su función principal. 
    Esta restricción se debe a que no se debería poder ejecutar sin la presencia de ningún O.F.</h4>

    <br>
    <img class="images" src="\src\assets\img\5.PNG">
    <br>
   <br>

   <h4>-	Una vez se añade el primer O.F, se podrá añadir nuevos valores correspondientes a este, pulsando el botón 
     “AÑADE FASE” o eliminarlo pulsando “ELIMINA OF”. 
   También se podrá elegir las distintas reglas de prioridad que necesitaremos, así como ejecutarlas.</h4>
   <br>
   <img class="images" src="\src\assets\img\6.PNG">
<br>
   <br>
  
   <h4>-	En la vista que se accede tras pulsar sobre “AÑADE FASE”, se podrá añadir o actualizar el valor de un O.F,
      su plazo de entrega, así como crear los distintos O.T que lo componen.</h4>
      <br>
      <img class="images" src="\src\assets\img\7.PNG">
<br>
      <br>
    <h4>-	Para introducir o modificar tanto un valor como un plazo de entrega, se introducirá el valor numérico deseado y
       se pulsará sobre el botón “ACTUALIZAR”.</h4>
       <br>
       <img class="images" src="\src\assets\img\8.PNG">
<br>
       <br>
      <h4>-	Para crear un nuevo O.T, se introducirá el C.T que ocupará y el tiempo que permanecerá en este último.</h4>
      <br>
      <img class="images" src="\src\assets\img\9.PNG">
      <br>
       <br>
       <h4>-	Se puede crear tantos O.Ts como se desee.</h4>
       <br>
       <img class="images" src="\src\assets\img\10.PNG">
<br>
       <br>
       <h4>-	Los O.T pueden alterar su valor mediante un input, aunque este cambio solo se hará efectivo al pulsar el botón “MODIFICAR”.
          También los OTs podrán ser eliminados mediante el botón “ELIMINAR”.</h4>
          <br>
          <img class="images" src="\src\assets\img\11.PNG">
<br>
          <br>
        <h4>-	Se pueden generar tantos O.F como se desee.  </h4>
        <br>
        <img class="images" src="\src\assets\img\12.PNG">
        <br>
          <br>
        <h4>-	Los distintos O.F pueden ser eliminados mediante el botón “ELIMINA O.F”, se reasignarán los números de O.F.</h4>
        <br>
        <img class="images" src="\src\assets\img\13.PNG">
        <br>
          <br>
          <h4>-	Se puede seleccionar de 1 a 8 reglas de prioridad implementadas. Se pueden seleccionar o deseleccionar todas a la vez.</h4>
        <br>
        <img class="images" src="\src\assets\img\14.PNG">
        <br>
          <br>
         <h4>-	Una vez introducidos los datos de forma correcta, se pueden ejecutar las reglas de prioridad (algoritmos) seleccionadas. 
           Para ello se pulsará el botón “EJECUTAR”.</h4> 
           <br>
           <img class="images" src="\src\assets\img\15.PNG">
           <br>
          <br>
          <h4>-	Cuando acabe el proceso de ejecución, se podrá comprobar el resultado pulsando el botón “VER EJECUCIÓN”.</h4>
          <br>
          <img class="images" src="\src\assets\img\16.PNG">
<br>
          <br>



          <h1>4.	Vista de resultados tras ejecutar</h1>

          <h4>Por cada regla de prioridad se generará un diagrama de Gantt que muestre como han sido ocupados a lo largo del proceso de ejecución, 
            los C.Ts por los O.Ts que pertenecen a los distintos O.Fs.</h4>
            <br>
            <img class="images" src="\src\assets\img\17.PNG">
            <br>
          <br>
          <H4>-	Al pasar el cursor sobre cada franja correspondiente a un O.T que ocupa un C.T a lo largo del tiempo, se podrán ver los datos del primero.</H4>
          <br>
          <img class="images" src="\src\assets\img\18.PNG">
<br>
          <br>
          <h4>-	Por cada heurística ejecutada, también serán visibles los resultados correspondientes a los distintos O.Fs: su plazo de entrega, su tiempo de ejecución real 
            y los tiempos de adelanto o atraso respecto a su plazo de entrega, en caso de que los haya.</h4> 
          

            <br>
            <img class="images" src="\src\assets\img\19.PNG">
<br>
            <br>

            <h4>-	Tras la visualización de los resultados propios de las distintas reglas de prioridad, se mostrará una tabla en la que se comparan los resultados de estas.</h4>
            <br>
            <img class="images" src="\src\assets\img\20.PNG">
<br>
            <br>
        <h1>5.	Introducir datos desde base de datos</h1>
        <h4>Se mostrará las distintas ejecuciones previas, con el fin de utilizar sus datos en una nueva ejecución. Para ello se pulsará el botón “EJECUTAR”.</h4>
        <br>
        <img class="images" src="\src\assets\img\21.PNG">
        <br>
            <br>
        <h4>-	Los datos de una ejecución previa pueden ser modificados o eliminados a placer. También se puede introducir nuevos datos.</h4>
        <br>
        <img class="images" src="\src\assets\img\22.PNG">
        <br>
            <br>

      <h1>6.	Historial de ejecuciones</h1>
      <h4>Se puede ver los resultados de anteriores ejecuciones, sin la necesidad de volver a realizar otra vez el cálculo en base a los algoritmos, los cuales representan las reglas de prioridad.
         Para ello se provee de un menú con las distintas ejecuciones. Pulsando el botón “VER RESULTADO”.</h4>
         
  </div>
  <div class="col-lg-2">

  </div>